.section--completed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87.5vw;
    height: fit-content;
    margin-top: 9em;
    border-radius: 10px;
    background: #fff;
}

.section--completed img {
    margin-top: 2em;
}

.section--completed h2 {
    margin-top: 1.2em;
    font-size: 1.2em;
}

.section--completed p {
    width: 90%;
    margin-top: 0.75em;
    font-size: 0.9em;
    color: var(--dark-gray);
    text-align: center;
    line-height: 1.8em;
}

.section--completed button {
    width: 7.5em;
    height: 3em;
    margin: 1em 0 3em;
    border: none;
    border-radius: 40px;
    background: var(--moderate-cyan);
    -webkit-tap-highlight-color: transparent;
    font-weight: var(--fw-bold);
    color: #fff;
    letter-spacing: 0.025em;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
}

.section--completed button:active {
    outline: 2px solid var(--moderate-cyan);
    outline-offset: -1px;
}

@media (hover:hover) {
    .section--completed button:hover {
        background: var(--dark-cyan);
        transition: background-color 0.4s ease-in-out;
    }

    .section--completed button:active {
        outline: 2px solid var(--dark-cyan);
    }
}

/* Desktop version */

@media screen and (min-width: 768px) {
    .modal__container--desktop {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    .section--completed {
        width: 39%;
        margin-top: 0;
    }

    .section--completed img {
        width: 80px;
        height: 80px;
        margin: 3em 0 1em;
    }

    .section--completed h2 {
        font-size: 1.5em;
    }

    .section--completed p {
        width: 80%;
        margin-top: 0em;
        font-size: 1em;
    }
}

