.modal__container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    /* height: fit-content; */
    height: calc(100vh + 200%);
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.section--default {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87.5%;
    height: fit-content;
    /* height: 85%; */
    margin: 8.25em 0;
    padding-bottom: 1.25em;
    border-radius: 10px;
    background: #fff;
    /* transform: translateY(7.5em); CAMBIATO PER MARGIN */
}

.section__title {
    display: flex;
    justify-content: space-between;
    width: 86%;
    padding-top: 1.25em;
    font-size: 0.78em;
}

.section__title img {
    width: 15px;
    height: 15px;
    transform: translateY(1.6em);
    cursor: pointer;
    filter: invert(52%) sepia(1%) saturate(0%) hue-rotate(35deg) brightness(91%) contrast(90%);
    transition: filter 0.4s ease-in-out;
}

@media (hover:hover) {
    .section__title img:hover {
        filter: none;
        transition: filter 0.4s ease-in-out;
    }
}
.section--default p {
    width: 86%;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
    font-size: 0.88em;
    color: var(--dark-gray);
    line-height: 1.75em;
}

.option__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86%;
    margin: 0.75em 0;
    padding-bottom: 1.25em;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.option__container.disabled {
    opacity: 0.75;
}

.option__container.selected {
    border: 2px solid var(--moderate-cyan);
}

details {
    width: 100%;
}

.details--disabled {
    pointer-events: none;
}

summary {
    display: flex;
    justify-content: center;
}

/* Desktop version */

@media screen and (min-width: 768px) {
    .section--default {
        width: 50.5%;
        /* transform: translateY(11.5em);  CAMBIATO PER MARGIN*/
        margin: 11.5em 0;
    }

    .section__title {
        padding-top: 1.75em;
        font-size: 1em;
    }

    .section__title img {
        transform: translate(1em, 0.5em);
    }

    .section--default p {
        width: unset;
        font-size: 1em;
    }

    .section--default > p {
        width: 86%;
        margin-top: -0.25em;
        margin-bottom: 1.25em;
        font-size: 1em;
    }

    .option__container {
        padding-bottom: 1.2em;
    }
}
