.option__label, .option__label--disabled {
    display: flex;
    width: 90%;
}

.option__label--disabled h3,
.option__label--disabled h4,
.option__label--disabled .option__description,
.option__label--disabled p {
    opacity: 0.5;
}

.radio__container {
    display: flex;
    align-items: center;
    margin-top: 1.75em;
}

@media (hover:hover) {
    .radio__container {
        color: var(--black);
        transition: color 0.5s ease-in-out;
    }
    .radio__container:hover{
        color: var(--moderate-cyan);
        transition: color 0.4s ease-in-out;
    }
}

.radio__container > input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 25px;
    height: 25px;  
    padding: 4.5px;
    background-clip: content-box;
    border: 1.75px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.radio__container > input[type='radio']:checked {
    background-color: var(--moderate-cyan);
}

.option__title {
    padding-left: 1em;
    font-size: 0.8em;
    cursor: pointer;
}

.option__container h3 {
    margin: 0;
}

.option__title h4 {
    margin: 0.75em 0 0;
    font-size: 1.15em;
    font-weight: var(--fw-normal);
    color: var(--moderate-cyan);
}

.option__description {
    padding: 2em 0.5em 1em;
    color: var(--dark-gray);
    font-size: 0.88em;
    line-height: 1.75em;
}

.option__quantity {
    padding: 0 0.5em;
}

.option__quantity--desktop {
    display: none;
}

.option__quantity span {
    font-weight: var(--fw-bold);
    color: var(--black);
    font-size: 1.3em;
    padding-right: 0.25em;
}

/* Desktop version */

@media screen and (min-width: 768px) {
    .option__label {
        width: 91.5%;
    }
    .option__content {
        display: flex;
        flex-direction: column;
    }

    .radio__container input {
        margin: 0;
    }

    .option__title {
        width: 91.5%;
        display: flex;
        padding-left: 1.5em;
        font-size: 0.9em;
        align-items: center;
        transform: translateY(-0.25em);
    }

    .option__title--desktop {
        width: 80%;
        display: flex;
    }

    .option__title h4 {
        margin-top: 0;
        margin-left: 1em;
    }

    .option__description {
        transform: translateY(-0.25em);
        width: 91.5%;
        padding: 0.5em 0 0.75em 3.1em;
        font-size: 0.95em;
    }
    .quantity__container {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        height: 3em;
    }
    .option__quantity {
        display: none;
    }

    .option__quantity--desktop {
        display: block;
    }

    .option__quantity--desktop span {
        font-size: 1.25em;
        font-weight: var(--fw-bold);
        color: var(--black);
        padding-right: 0.25em;
    }
}