.pledge__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0.75em 0 0.5em;
    border-top: 1.5px solid rgba(0, 0, 0, 0.1);
}

.pledge__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pledge__box > p {
    margin-top: 1.75em;
    text-align: center;
}

.pledge__buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0.5em;
}

.input__container {
    display: flex;
    width: 35%;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    transition: border 0.4s ease-in-out;
}

.input__container:hover {
    border: 1.5px solid var(--moderate-cyan);
    transition: border 0.4s ease-in-out;
}

.input__container p {
    width: fit-content;
    padding-left: 1.75em;
    font-weight: var(--fw-bold);
}

.input__container input {
    width: 50%;
    height: 90%;
    border: none;
    border-radius: 40px;
    outline: none;
    font-size: 1em;
    font-weight: var(--fw-bold);
    color: var(--black);
    transform: translate(0.25em);
}

.input__container input::placeholder {
    color: var(--black);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pledge__buttons button {
    width: 40%;
    border: none;
    border-radius: 40px;
    background: var(--moderate-cyan);
    -webkit-tap-highlight-color: transparent;
    font-weight: var(--fw-bold);
    color: #fff;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
}

.pledge__button--disabled {
    opacity: 0.5;
    pointer-events: none;
}

@media (hover:none) {
    .pledge__buttons button:active {
        outline: 2px solid var(--moderate-cyan);
        outline-offset: -1px;
    }
}

@media (hover:hover) {
    .pledge__buttons button:hover {
        background: var(--dark-cyan);
        transition: background-color 0.4s ease-in-out;
    }

    .pledge__buttons button:active {
        outline: 2px solid var(--dark-cyan);
        outline-offset: -1px;
    }
}

/* Desktop version */

@media screen and (min-width: 768px){
    .pledge__container{
        display: flex;
        justify-content: flex-end;
        margin-top: 1em;
    }
    .pledge__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 91%;
        margin-top: 1.35em;
    }

    .pledge__box > p {
        width: 30%;
        margin: 0;
        text-align: start;
    }

    .pledge__buttons {
        display: flex;
        justify-content: flex-end;
        width: 70%;
    }

    .input__container {
        width: 6.5em;
    }

    .pledge__buttons button {
        width: 9em;
        margin-left: 1.5em;
    }
}