.title__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
}

.title__logo {
    transform: translateY(-1.5em);
}

.title__container h1 {
    width: 90%;
    margin-top: 0;
    font-size: 1.25em;
    text-align: center;
}

.title__container p {
    width: 90%;
    margin: 0.5em 0 2em;
    font-size: 0.8em;
    color: var(--dark-gray);
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    height: 56px;
    margin-bottom: 2em;
    padding: auto;
    transform: translateX(-6px);
}

.button--left {
    width: 15em;
    margin-right: 0.75em;
    border: none;
    border-radius: 40px;
    -webkit-tap-highlight-color: transparent;
    background: var(--moderate-cyan);
    font-weight: var(--fw-bold);
    color: #fff;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.button--left:active {
    outline: 2px solid var(--moderate-cyan);
    outline-offset: -1px;
}

@media (hover:hover) {
    .button--left:hover {
        background: var(--dark-cyan);
    }

    .button--left:active {
        outline: 2px solid var(--dark-cyan);
    }
}

.button--right {
    display: flex;
    align-items: center;
    width: 22%;
    font-weight: var(--fw-bold);
    color: var(--dark-gray);
}

@media (hover:hover) {
    .button--right:hover {
        color: rgba(122, 122, 122, 0.75);
    }
}

.button--right img {
    z-index: 1;
    width: 56px;
    margin: 0;
    border-radius: 40px;
    -webkit-tap-highlight-color: transparent;
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

#bookmark {
    display: none;
}

.button--right label {
    position: relative;
    width: 0;
    font-size: 0.9em;
}

.button--right label span {
    display: none;
    transform: translate(-7.5em, 1.2em);
}

.span--bookmarked {
    color: var(--moderate-cyan);
}

@media screen and (min-width: 768px) {
    .title__container {
        width: 57.5%;
    }

    .title__container h1 {
        font-size: 1.8em;
    }

    .title__container p {
        margin: 0em 0 2.5em;
        font-size: 1.05em;
    }

    .buttons {
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2.5em;
        transform: translateX(0);
    }

    .button--left {
        margin-left: 3.5em;
    }

    .button--right {
        width: 0;
        margin-right: 3em;
        transform: translateX(-11.25em);
    }

    .button--right img {
        padding-right: 8.5em;
    }

    .button--right label, .button--right label span {
        display: flex;
    }
}