.app__header {
    height: 18.5em;
    width: 100vw;
    background-image: url("./images/image-hero-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    width: 87.5%;
    margin: 0 auto;
    padding-top: 2em;
}

main {
    min-height: 100vh;
}

.main__container {
    width: 87.5%;
    margin: auto;
    transform: translateY(-3em);
}

/* Desktop version */

@media screen and (min-width: 768px) {
    .app__header {
        height: 25em;
        background-image: url("./images/image-hero-desktop.jpg");
    }

    .nav__container {
        width: 80%;
        padding-top: 3em;
    }

    .main__container {
        transform: translateY(-6em);
    }
}