.numbers__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
}

.numbers__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.25em;
}

.box--left, .box--center, .box--right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box--center {
    width: fit-content;
    margin: 0.5em 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.numbers__box h2 {
    margin: 0.75em 0 0;
    font-size: 2em;
}

.box--right h2 {
    margin-top: 0.5em;
}

.numbers__box p {
    margin-top: 0.75em;
    font-size: 0.85em;
    color: var(--dark-gray);
}

.box--center p {
    margin-bottom: 1.5em;
}

.progress__bar--goal {
    width: 87.5%;
    height: 0.6em;
    margin: 1em 0 2.25em;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.05)
}

.progress__bar--total {
    height: 0.6em;
    border-radius: 40px;
    background: var(--moderate-cyan);
}

/* Desktop version */

@media screen and (min-width: 768px) {
    .numbers__container {
        width: 80%;
    }

    .numbers__box {
        flex-direction: row;
        width: 87.5%;
        margin-top: 2em;
    }

    .box--left, .box--center, .box--right {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }

    .box--center {
        border: none;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .numbers__box h2, .numbers__box p {
        margin: 0;
        margin-left: 20%;
    }

    .box--left h2, .box--left p {
        margin: 0;
    }
}

@media screen and (min-width: 820px) {
    .numbers__container {
        width: 77.5%;
    }
}

@media screen and (min-width: 900px) {
    .numbers__container {
        width: 75%;
    }
}

@media screen and (min-width: 980px) {
    .numbers__container {
        width: 72.5%;
    }
}

@media screen and (min-width: 1060px) {
    .numbers__container {
        width: 70%;
    }
}

@media screen and (min-width: 1140px) {
    .numbers__container {
        width: 67.5%;
    }
}

@media screen and (min-width: 1220px) {
    .numbers__container {
        width: 63%;
    }
}

@media screen and (min-width: 1300px) {
    .numbers__container {
        width: 58.5%;
    }
}

@media screen and (min-width: 1380px) {
    .numbers__container {
        width: 54%;
    }
}

@media screen and (min-width: 1440px) {
    .numbers__container {
        width: 50.5%;
    }
}